<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 6 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular-1.5.3/angular.js"></script>
        <script src="../libs/angular-1.5.3/angular-resource.min.js"></script>
    </head>

    <body ng-controller="BookCardCtrl">
        
        <div>
            <h3>{{book.name}}</h3>
                <p>ID: {{book.id}}</p>
                <p>Автор: {{book.author}}</p>
                <p>Страниц: {{book.pages}}</p> 
                <p>Цена: {{book.price}}</p> 
                <p>Жанр: {{book.genre}}</p>
                <a href={{book.href}}>К списку книг</a>
        </div>

        <script src="js/step6/app.js"></script>
        <script src="js/step6/services.js"></script>
        <script src="js/step6/controllers.js"></script>

    </body>

</html>
