<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 6 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular-1.5.3/angular.js"></script>
        <script src="../libs/angular-1.5.3/angular-resource.min.js"></script>
    </head>

    <body ng-controller="BookListCtrl">

        Найти:
        <input ng-model="query"><br><br>
        Найти по жанру:
        <input type="text" ng-model="genre"><br><br>

        Сортировать по:
        <select ng-model="orderProperty">
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
            <option value="name">Имени</option>
        </select>

        <ul>
            <li ng-repeat="book in books | filter:query | filter:{genre:genre} | orderBy:orderProperty">
                <h3>{{book.name | uppercase}}</h3>
                <p>{{book.author}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price}}, жанр:
                    {{book.genre}}</p>
                <a href={{book.href}}>Посмотреть книгу</a>
            </li>
        </ul>

        <p ng-show="query">
            Выведены книги, содержащие
            {{query}}
        </p>

        <script src="js/step6/app.js"></script>
        <script src="js/step6/services.js"></script>
        <script src="js/step6/controllers.js"></script>

    </body>

</html>
